<Layout>
	<h1>Contacto</h1>
	<form aria-label="Formulario de contacto">
	  <label for="nombre">Nombre:</label><br />
	  <input type="text" id="nombre" name="nombre" required aria-required="true" /><br /><br />
  
	  <label for="email">Email:</label><br />
	  <input type="email" id="email" name="email" required aria-required="true" /><br /><br />
  
	  <label for="mensaje">Mensaje:</label><br />
	  <textarea id="mensaje" name="mensaje" rows="4" required aria-required="true"></textarea><br /><br />
  
	  <button type="submit">Enviar</button>
	</form>
  </Layout>